<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account has been deleted</h1>
    <p>
      I'm really sorry but it's true<br>
    </p>
  </body>
</html>