<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
 <div>
    <%= render 'layouts/search_form' %>
 </div>

<% if @movies && @movies.count > 0 %>
  <% @movies.each do |movie| %>
    <%= render partial: "movies/movie", locals: {movie: movie} %>
  <% end %>
<% else %>
  <p>No results</p>
<% end %>