<div class="search-form">

  <%= link_to image_tag("logo.png", :id => "logo"), "/" %>

    <div class="search pull-right form-group">
      <%= form_tag("/movies", method: "get") do %>
        <%= submit_tag("Search", :class => "btn btn-default") %>
        <%= text_field_tag(:search) %>
      <% end %>
    </div>

</div>

